.gridContainer {
  border: 1px solid gray;
  width: 400px;
  height: 400px;
  padding: 20px;
  margin: auto;
}
.grid {
  display: grid;
  gap: 20px;
  height: 100%;
}
.block {
  border: 1px solid gray;
  cursor: pointer;
}

.block--filled {
  background-color: rgb(250, 129, 129);
}
